{% extends 'base.html.twig' %}

{% block title %}New Account{% endblock %}

{% block body %}
    <h3>Create a New Account</h3>

    {{ form_start(newAccountForm) }}
        {{ form_widget(newAccountForm) }}
        <button type="submit" class="btn btn-primary">Join!</button>
    {{ form_end(newAccountForm) }}
{% endblock %}
