.inc-indentation{
  margin-left:auto;
  margin-right:auto;
  overflow-x:scroll;
  -ms-overflow-style: none;
}
.inc-indentation::-webkit-scrollbar{
  display:none;
}
.mobile .inc-indentation{
  margin-left: 1% !important;
  margin-right: 1% !important;
  min-width:98%;
}
@media (orientation: portrait) {
  .inc-indentation{
    margin-left: 1% !important;
    margin-right: 1% !important;
    min-width: 98%;
  }
}
@media (min-width: 576px) {
  .inc-indentation {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .inc-indentation {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .inc-indentation {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .inc-indentation {
    max-width: 1140px;
  }
}
