.table.show-name tr td:nth-child(1){
  display: none;
}
.table.show-name tr th:nth-child(1){
  display: none;
}
.table.show-value tr td:nth-child(2){
  display: none;
}
.table.show-value tr th:nth-child(2){
  display: none;
}
.table.show-weight tr td:nth-child(3){
  display: none;
}
.table.show-weight tr th:nth-child(3){
  display: none;
}
.table.show-ac tr td:nth-child(4){
  display: none;
}
.table.show-ac tr th:nth-child(4){
  display: none;
}
.table.show-damage tr td:nth-child(5){
  display: none;
}
.table.show-damage tr th:nth-child(5){
  display: none;
}
.table.show-range tr td:nth-child(6){
  display: none;
}
.table.show-range tr th:nth-child(6){
  display: none;
}
.table.show-properties tr td:nth-child(7){
  display: none;
}
.table.show-properties tr th:nth-child(7){
  display: none;
}
.table.show-gmOnly tr td:nth-child(8){
  display: none;
}
.table.show-gmOnly tr th:nth-child(8){
  display: none;
}
.table.show-magical tr td:nth-child(9){
  display: none;
}
.table.show-magical tr th:nth-child(9){
  display: none;
}
.table.show-mundane tr td:nth-child(10){
  display: none;
}
.table.show-mundane tr th:nth-child(10){
  display: none;
}
.table.show-carrying tr td:nth-child(11){
  display: none;
}
.table.show-carrying tr th:nth-child(11){
  display: none;
}
.table.show-holding tr td:nth-child(12){
  display: none;
}
.table.show-holding tr th:nth-child(12){
  display: none;
}
.table.show-level tr td:nth-child(13){
  display: none;
}
.table.show-level tr th:nth-child(13){
  display: none;
}
.table.show-consumable tr td:nth-child(14){
  display: none;
}
.table.show-consumable tr th:nth-child(14){
  display: none;
}
.table.show-offense tr td:nth-child(15){
  display: none;
}
.table.show-offense tr th:nth-child(15){
  display: none;
}
.table.show-speed tr td:nth-child(16){
  display: none;
}
.table.show-speed tr th:nth-child(16){
  display: none;
}
.table.show-stealth tr td:nth-child(17){
  display: none;
}
.table.show-stealth tr th:nth-child(17){
  display: none;
}
.table.show-strength tr td:nth-child(18){
  display: none;
}
.table.show-strength tr th:nth-child(18){
  display: none;
}
.table.show-type tr td:nth-child(19){
  display: none;
}
.table.show-type tr th:nth-child(19){
  display: none;
}
.table.show-subtype tr td:nth-child(20){
  display: none;
}
.table.show-subtype tr th:nth-child(20){
  display: none;
}
.table.show-rarity tr td:nth-child(21){
  display: none;
}
.table.show-rarity tr th:nth-child(21){
  display: none;
}
.table.show-fid tr td:nth-child(22){
  display: none;
}
.table.show-fid tr th:nth-child(22){
  display: none;
}
.table.show-description tr td:nth-child(23){
  display: none;
}
.table.show-description tr th:nth-child(23){
  display: none;
}
.table.show-author tr td:nth-child(24){
  display: none;
}
.table.show-author tr th:nth-child(24){
  display: none;
}
.table.show-official tr td:nth-child(25){
  display: none;
}
.table.show-official tr th:nth-child(25){
  display: none;
}
.table.show-legal tr td:nth-child(26){
  display: none;
}
.table.show-legal tr th:nth-child(26){
  display: none;
}
.table.show-id tr td:nth-child(27){
  display: none;
}
.table.show-id tr th:nth-child(27){
  display: none;
}
