@use "sass:map";
.incarnate-policy-banner{
  position:fixed;
  padding-top:0.2em;
  padding-bottom:0.2rem;
  background-color: map.get($theme-colors,'primary');
  width:100%;
  bottom:0;
}
.incarnate-policy-banner p{
  color:map.get($theme-colors,'light');
  padding-bottom: 0;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:1rem;
}
.incarnate-policy-banner button{
  margin:0.5rem;
}
