{%  extends 'base_card_list.html.twig' %}
{% block title %}Tables{% endblock %}
{% block preList %}
    <p>Most tables are something that you should not look for, but rather reference only when linked. As such this page is only for advanced users who want to explore under the hood and figure out how the system is put together. Please note that these tables are under the <a href="{{ path('inc_policy_general_license') }}">Incarnate General License</a> and cannot be copied or distributed without following those terms.</p>
{% endblock %}