{% extends 'base.html.twig' %}
{% block title %}Orientation{% endblock %}
{% block body %}
    <h2>Orientation: <span id="incarnate-orientation"></span></h2>
    <script>
        const orientation = document.getElementById('incarnate-orientation');
        class IncarnateOrientationCheck{
            static set(){
                orientation.innerHTML = screen.orientation.angle;
            }
        }
        IncarnateOrientationCheck.set();
        window.addEventListener('orientationchange',IncarnateOrientationCheck.set);
    </script>
{% endblock %}