{%  extends 'base.html.twig' %}
{% block title %}Standards{% endblock %}
{% block body %}
    <h2>Standards</h2>
    <h3>Work Environment</h3>
    <p>My main office is in a family friendly location. All project that I take on must be able to be worked on in such an environment (no porn, no profanity).</p>
    <h3>Legal</h3>
    <p>I have a huge respect for the law and bend over backwards to meet the standards of all legislation that I am aware of. As such, websites I build and deploy will have:</p>
    <ul>
        <li>A Policy Accept Banner</li>
        <li>A Website Policy Page (not included in page count for fiverr jobs)</li>
        <li>Block all third-party cookies until after policy has been accepted</li>
        <li>A policy reject page (not included in page count for fiverr jobs)</li>
        <li>A button to check cookies used by website</li>
        <li>A button to remove cookies used by website</li>
        <li>A button to place a reject policy cookie (and continue blocking all other cookies)</li>
        <li>Passwords will be hashed with Argon2i or better</li>
        <li>Reasonable proof of intellectual property for all assets I upload. (Descriptions of your product you write and images you take are fine, for anything else I will need to see a receipt of purchase.)</li>
    </ul>
{% endblock %}
