{%  extends 'base.html.twig' %}
{% block title %}Hire{% endblock %}
{% block body %}
    <h3>Freelancer</h3>
    <p>If you are looking for freelancer work in data entry, data migration, symfony website building, or other work, find me on <a href="https://www.fiverr.com/philipjlawrence">fiverr</a>.</p>
    <h3>Full Time</h3>
    <p>If you are interested in hiring a programmer who is self-taught, rapidly learns languages, and is passionate about his work, then check out my <a href="https:/>/www.linkedin.com/in/philip-lawrence-b75520144/">LinkedIn</a> and <a href="https://github.com/IncarnateGaming">Github</a>. When you like what you see shoot me an email at <a href="mailto:{{ email }}">{{ email }}</a>.</p>
{% endblock %}
