{%  extends 'base.html.twig' %}
{% block title %}Demo{% endblock %}
{% block body %}
    <select id="mySelect" onchange="addDropDown()">
        <option>Buildings</option>
        <option>City</option>
        <option>Dungeons</option>
        <option>NPCs</option>
        <option>Districts</option>
        <option>Miscellaneous</option>
    </select>
    <select id="selectChoices"></select>
    <div>
        <button type="button" onclick="templateInsert()">
            Insert Template</button>
        <button type="button" onclick="generate()">
            Generate</button>
        <button type="button" onclick="populate()">
            Populate</button>
        <button type"button"="" onclick="alert(&quot;You have made &quot; + rollCount + &quot; rolls.&quot;)">Roll Count</button>
    </div>
    <div id="Main"></div>
    <script src="{{asset('packs/js/demo.js')}}"></script>
{% endblock %}