{%  extends 'base.html.twig' %}
{% block title %}Demo{% endblock %}
{% block body %}
    <h2>Introduction</h2>
    <p>The Incarnate System is designed to make a Game Master's life easier by generating content as players explore. Due to the size of the project, it is highly recommended that this system be deployed within a VTT such as <a href="http://foundryvtt.com/index.html#">Foundry VTT</a>.</p>
    <h2>Dedicated VTT</h2>
    <p>We keep a dedicated foundry server available for testing <a href="http://www.incarnategamingllc.com:30000/join">here</a>.</p>
    <p>All access Id's are set to <strong>incarnate</strong> except for GM-locked which is reserved for when I give tours. Please note that this server is wiped everytime we release an update, so do not expect your changes to persist.</p>
    <h2>Embedded Sample</h2>
    <p>If you want to test some of the most basic functions of the Incarnate System outside of a VTT, we do have some of the generators available below. Select the category with the first drop down, and the template with the second. Clicking <strong>Insert Template</strong> will add a copy of the current template to the end of the page. Clicking <strong>Generate</strong> will cause the generator to randomly fill in variables (where available, things such as the random encounter generator are too commplex for deployment on a single web page). <strong>Populate</strong> will cause referenced templates (such as people inside of a tavern) to have their templates added to the end of the page.</p>
    <select id="mySelect" onchange="addDropDown()">
        <option>Buildings</option>
        <option>City</option>
        <option>Dungeons</option>
        <option>NPCs</option>
        <option>Districts</option>
        <option>Miscellaneous</option>
    </select>
    <select id="selectChoices"></select>
    <div>
        <button type="button" id="insertTemplate">Insert Template</button>
        <button type="button" id="generate">Generate</button>
        <button type="button" id="populate">Populate</button>
        <button type="button" id="clearContent">Clear</button>
        <button type="button" onclick="alert('You have made ' + rollCount + ' rolls.')">Roll Count</button>
    </div>
    <div id="Main"></div>
    <script src="{{asset('packs/js/demo.js')}}"></script>
{% endblock %}