{%  extends 'base.html.twig' %}
{% block body %}
    <h2 class="text-center">{{ genericParts.about.general.motto }}</h2>
    <p class="text-center">{{ genericParts.about.general.intro }}</p>
{% endblock %}