{%  extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h2 class="text-center">{{ genericParts.about.general.motto }}</h2>
        <p class="text-center">{{ genericParts.about.general.intro }}</p>
    </div>
    {% if genericParts.mobileArray.mobile %}
        {% for video in genericParts.about.videos %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item border border-white" src="{{ video.url }}"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {% endfor %}
    {% else %}
        <div class="d-flex flex-row flex-wrap justify-content-center">
        {% for video in genericParts.about.videos %}
            <iframe class="embed-responsive-item border border-white" src="{{video.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}