{%  extends 'base.html.twig' %}
{% block title %}General License{% endblock %}
{% block body %}
<div class="container">
    <h2 class="text-center">Incarnate General License (v 1.0 July, 9  2018)</h2>
    <p>We believe that we stand on the shoulders of giants and that if we build something amazing, others will want to build on top of it. At the same time, we have expenses and need to ensure the ability to sell our product (ie prevent piracy). The tension between these two forces is reflected in the license we had drafted. All content we release is under the "Incarnate General License" (the pdf below). It allows linking (1.g) and allows them to use generated content (1.i) which is essential for others to build upon our work, but forbids them from stealing our work (1.a).</p>
    <p>(Please note that the above is an unofficial summary, please read the below license yourself.)</p>
    <iframe src="https://s3.us-east-2.amazonaws.com/incarnategamingmaster/IncarnateGeneralLicense.pdf" width="100%" height="800" scrolling="yes" class="iframe-class" frameborder="0"></iframe>
</div>
{% endblock %}