{%  extends 'base.html.twig' %}
{% block body %}
    <h2>License</h2>
    <p>We release all of our content under the <a href="https://www.incarnategamingllc.com/policy/igl/">Incarnate General License</a>.</p>
    <h2>Who we are</h2>
    <p>Our website address is: <a href="https://www.incarnategamingllc.com/">https://www.incarnategamingllc.com/</a></p>

    <h2>What personal data we collect and why we collect it</h2>
    <h3>Comments</h3>
    <p>When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.</p>

    <p>An anonymized string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the public in the context of your comment.</p>

    <h3>Media</h3>
    <p>If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.</p>

    <h3>Contact forms</h3>
    <p>When you send us information, we are allowed to use that information to change and improve our site(s), product(s), and/or service(s). Thank you for all the feedback and help making this a better place.</p>
    <p>Our user requested voting system is here: <a href="https://gitlab.com/incarnate-foundry-mods/issue-tracking/issues">https://gitlab.com/incarnate-foundry-mods/issue-tracking/issues</a></p>

    <h3>Cookies</h3>h3>
    <p>If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.</p>

    <p>If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.</p>

    <p>When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.</p>

    <p>If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.</p>

    <h3>Embedded content from other websites</h3>
    <p>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.</p>

    <p>These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracing your interaction with the embedded content if you have an account and are logged in to that website.</p>

    <h2>Analytics</h2>
    <h3>Who we share your data with</h3>
    <p>We do our best to not share any personal information. We do not believe in selling information for targeted adds or other spam. We do believe that by looking to the past we can build a better future, but none of this should be done in the shadows. When we share information it should be done publicly and with anonymous data, such as listing how many of each archetype are used within our play testing leagues. Where we see a large number of people playing as one archetype, there may be too much power or a great mechanic everyone loves and should be used elsewhere. What no one plays teaches us what to avoid.</p>

    <h2>How long we retain your data</h2>
    <p>If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.</p>

    <p>For users that register on our website (if any), we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). Website administrators can also see and edit that information.</p>

    <h2>What rights you have over your data</h2>
    <p>If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>

    <h2>Where we send your data</h2>
    <p>Visitor comments may be checked through an automated spam detection service.</p>

    <h2>Our contact information</h2>

    {{ include('parts/contact.html.twig')}}

    <h2>Additional information</h2>
    <h3>How we protect your data</h3>
    <p>We are young and do not know what we are doing. As such we cannot guarantee the security of your data. For this reason, we rely on <a href="https://www.patreon.com/incarnategaming/overview">Patreon</a> and their security to secure all financial information (and are never in possession of said information). We will continue to work on better protection, but that will take time and money that as a startup with essentially no income we cannot currently afford.</p>

    <h3>What data breach procedures we have in place</h3>
    <p>As we grow we will add these. For now please do not send us <em>any</em> data that would matter if it was breached.</p>

    <h3>What third parties we receive data from</h3>
    <p>Patreon sends us a list of patrons, their discord IDs, emails, and how much they each support. As our website is not secure, we do not keep any of that information on our website.</p>

    <h3>What automated decision making and/or profiling we do with user data</h3>
    <p>We have spam filters to attempt to detect spam and fake accounts. They are young and likely have many bugs. If we accidentally mute a real account please email: incarnategamingllc@gmail.com</p>

    <h3>Industry regulatory disclosure requirements</h3>
    <p>I do not know of any regulatory requirements. If any exist, please email incarnategamingllc@gmail.com from an official email (.gov or .org).</p>
    <h3 id="CopyLeft">Copy Left</h3>
    <p>Some of the content we use is from a copy left source. Any information incorporated from one of the copy left sources into this module is under the license of the respective source as posted on our website. All other information, including modifications to copy left material, to the greatest extent possible by law, is governed by the Incarnate General License. For your convenience we maintain PDF files of the copy left content:</p>

    <p><strong>DanDwiki:</strong> <a href="https://s3.us-east-2.amazonaws.com/incarnatepdf/CopyLeft-DandDwiki.pdf">PDF</a> <a href="https://s3.us-east-2.amazonaws.com/incarnatepdf/CopyLeft-DandDwiki.docx">DocX</a> <a href="https://s3.us-east-2.amazonaws.com/incarnatepdf/CopyLeft-DandDwiki.rtf">RTF</a></p>

    <p><strong>5e System Reference Document:</strong> <a href="https://s3.us-east-2.amazonaws.com/incarnatepdf/CopyLeft-SRD.pdf">PDF</a> <a href="https://s3.us-east-2.amazonaws.com/incarnatepdf/CopyLeft-SRD.docx">DocX</a> <a href="https://s3.us-east-2.amazonaws.com/incarnatepdf/CopyLeft-SRD.rtf">RTF</a></p>
{% endblock %}